/* Reset & Fonts */
body {
    font-family: 'Playfair Display', serif;
    color: #3659a4;
    background-color: #fff;
    text-align: center;
    padding: 2rem;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

header img {
    width: 100%;
    margin-bottom: 1.5rem;
    align-items: center;
    vertical-align: middle;
}

/* Headline */
.names {
    font-size: 3.5rem;
    font-style: italic;
    font-family: 'Gentium Book Basic Italic';
    font-weight: normal;
}

/* Date and Countdown */
.wedding-date {
    margin: 8px 0;
    font-family: 'Gentium Book Basic Italic';
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 22px;
}

.countdown {
    margin: 8px 0;
    font-family: 'Gentium Book Basic Italic';
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 22px;
}

/* Navigation */
.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 2rem 0;
    font-family: 'Gentium Book Basic Italic';
}

.nav li {
    cursor: pointer;
    padding-bottom: 4px;
    position: relative;
}

.nav li.active {
    border-bottom: 2px solid #3c5597;
}

/* Wedding Day Section */
.wedding-day .script {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 50px;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 1;
    margin: 32px 0px 8px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
    width: 100%;
}

.hr {
    width: 50%;
}