body {
    font-family: 'Playfair Display', serif;
    color: #3659a4;
    background-color: #fff;
    text-align: center;
    padding: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.content {
    flex: 1;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    margin-bottom: 1.5rem;
    align-items: center;
    vertical-align: middle;
}

/*img {*/
/*    object-fit: cover;*/
/*    max-height: 750px;*/
/*}*/

.navbar-dark .navbar-toggler-icon {
    background-image: none;
}

.navbar-dark .navbar-toggler-icon::after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 22px;
    color: #3659a4;
}
.names {
    color: #3659a4;
    font-size: 3.5rem;
    font-style: italic;
    font-family: 'Gentium Book Basic', serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.wedding-date, .countdown{
    color: #3659a4;
    margin: 8px 0;
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 22px;
    display: flex;
    justify-content: center;
}

.custom-header-nav li a{
    color: #3659a4;
}
.nav-custom {
    color: #3659a4;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 2rem 0;
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;

}

.nav-custom li a{
    list-style: none;
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 4px;
    position: relative;
    color: #3659a4;
}

.nav-custom li.active {
    border-bottom: 2px solid #3c5597;
}

.page-title {
    font-family: 'Mrs Saint Delafield', cursive;
    font-width: 500;
    color: #3659a4;
    letter-spacing: 5px;
    text-transform: lowercase;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-decoration: none;
    margin-right: 2rem;
}

.wedding-day .script {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 50px;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 1;
    margin: 32px 0px 8px;
    color: #3659a4;
    display: flex;
    justify-content: center;
}

.footer {
    font-family: 'Gentium Book Basic', serif;
    position: relative;
    bottom: 0;
    margin-top: auto;
    color: #3659a4;
    display: flex;
    justify-content: center;
}

hr {
    width: 100%;
    background-color: #3c5597;
    height: 1.5px;
    border: none;
    margin: 20px auto;
}