body {
    font-family: 'Playfair Display', serif;
    color: #3659a4;
    background-color: #fff;
    text-align: center;
    padding: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.content {
    flex: 1;
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 576px) {
    .navbar {
        display: none !important;
    }
}
.navbar-toggler{
    border: none !important;
}

header {
    width: 100%;
    margin-bottom: 1.5rem;
    align-items: center;
    vertical-align: middle;
}

.names {
    color: #3659a4;
    font-size: 3.5rem;
    font-style: italic;
    font-family: 'Gentium Book Basic', serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.wedding-details, .countdown{
    color: #3659a4;
    margin: 8px 0;
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 22px;
    display: flex;
    justify-content: center;
}
.navbar-nav.custom-header-nav .nav-item .nav-link {
    color: #3659a4 !important;
}



.nav-custom {
    color: #3659a4;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 2rem 0;
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;

}

.nav-custom li a{
    list-style: none;
    font-family: 'Gentium Book Basic', serif;
    font-style: italic;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 4px;
    position: relative;
    color: #3659a4;
}

.nav-custom li.active {
    border-bottom: 2px solid #3659a4;
}

.page-title {
    font-family: 'Gentium Book Basic', serif;
    /*font-family: 'Mrs Saint Delafield', cursive;*/
    font-width: 500;
    color: #3659a4;
    /*letter-spacing: 2px;*/
    /*text-transform: lowercase;*/
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-decoration: none;
    margin-right: 2rem;
}

.wedding-day .script {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 50px;
    font-weight: 500;
    text-transform: lowercase;
    line-height: 1;
    margin: 32px 0px 8px;
    color: #3659a4;
    display: flex;
    justify-content: center;
}

.footer {
    font-family: 'Gentium Book Basic', serif;
    position: relative;
    bottom: 0;
    margin-top: auto;
    color: #3659a4;
    display: flex;
    justify-content: center;
}

.details {
    font-family: 'Gentium Book Basic', serif;
    color: #3659a4;
    line-height: 22px;
}

.details-lg {
    font-size: 25px;
}

.details-sm {
    font-size: 18px;
}
hr {
    width: 100%;
    background-color: #3659a4;
    height: 1.5px;
    border: none;
    margin: 20px auto;
}